
<!-- Page Header -->
<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h2 class="pull-left"><%= pluralize(@users.count, "User") %></h2>
      <div class="header-controls pull-right">
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<!-- Replica Table -->
<div class="row">
  <div class="col-md-12">

    <table class="table table-striped table-bordered table-hover">
      <thead>
        <th>Display Name</th>
        <th>Email Address</th>
        <th class="text-center">Admin</th>
        <th class="text-center">Confirmed</th>
        <th class="text-right">Controls</th>
      </thead>
      <tbody>
        <% mdash = "&mdash;".html_safe %>
        <% @users.each do |u| %>
        <tr>
          <td><%= u.full_name_or_email %></td>
          <td><%= u.email %></td>
          <td class="text-center"><%= u.admin? ? icon("check-square-o") : icon("minus-square-o") %></td>
          <td class="text-center"><%= u.confirmed? ? icon("check-square-o") : icon("minus-square-o") %></td>
          <td class="text-right">
            <% unless u.confirmed? %>
            <%= link_to icon("id-badge").html_safe, confirm_email_url(token: u.email_confirmation_token), title: "Confirm User" %>
            <% end %>
            <%= link_to icon(:trash).html_safe, user_path(u), method: :delete, data: { confirm: "Delete #{u.full_name_or_email} ?" }, title: "Delete User" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
