<%= form_for @machine do |form| %>
<fieldset>
  <div class="form-group<%= @machine.errors[:hostname].present? ? ' has-error' : ''%>">
    <%= form.label :hostname %>
    <%= form.text_field :hostname, class: 'form-control', autofocus: true %>
    <% if @machine.errors[:hostname].present? %>
    <p class="help-block"><%= @machine.errors.messages[:hostname][0] %></p>
    <% end %>
  </div>
  <div class="form-group<%= @machine.errors[:location].present? ? ' has-error' : ''%>">
    <%= form.label :location %>
    <%= form.text_field :location, class: 'form-control'%>
    <% if @machine.errors[:location].present? %>
    <p class="help-block"><%= @machine.errors.messages[:location][0] %></p>
    <% end %>
  </div>
  <div class="form-group<%= @machine.errors[:description].present? ? ' has-error' : ''%>">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
    <% if @machine.errors[:description].present? %>
    <p class="help-block"><%= @machine.errors.messages[:description][0] %></p>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group<%= @machine.errors[:ip_address].present? ? ' has-error' : ''%>">
        <%= form.label :ip_address, "External IP Address" %>
        <%= form.text_field :ip_address, class: 'form-control', placeholder: "0.0.0.0" %>
        <% if @machine.errors[:ip_address].present? %>
        <p class="help-block"><%= @machine.errors.messages[:ip_address][0] %></p>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group<%= @machine.errors[:mac_address].present? ? ' has-error' : ''%>">
        <%= form.label :mac_address, "Network MAC Address" %>
        <%= form.text_field :mac_address, class: 'form-control', placeholder: "00:00:00:00:00:00" %>
        <% if @machine.errors[:mac_address].present? %>
        <p class="help-block"><%= @machine.errors.messages[:mac_address][0] %></p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="form-group<%= @machine.errors[:domain].present? ? ' has-error' : ''%>">
    <%= form.label :domain %>
    <%= form.text_field :domain, class: 'form-control', placeholder:"host.example.com" %>
    <% if @machine.errors[:domain].present? %>
    <p class="help-block"><%= @machine.errors.messages[:domain][0] %></p>
    <% else %>
    <p class="help-block">By specifying a domain, the replica will not be accessed by its external IP address</p>
    <% end %>
  </div>
  <div class="form-group">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to "Cancel", machines_path, class: "btn btn-default" %>
  </div>
</fieldset>
<% end %>
