
<!-- Page Header -->
<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h2><%= @machine.hostname.capitalize %>  <small>(<%= @machine.addressed_by %>)</small></h2>
      <ul class="list-inline pull-left">
        <li><span class="light-indicator <%= @machine.active ? "text-success" : "text-danger" %>"><%= icon("circle") %></span> status: <%= @machine.active ? "active" : "inactive" %><li>
        <li><span class="light-indicator health-<%= @machine.health %>"><%= icon("circle") %></span> health: <%= @machine.health %><li>
      </ul>
      <div class="pull-right">
        <a href="<%= machines_path %>" class="btn btn-primary btn-sm">
          <%= icon("arrow-left") %>
          Back to Hosts
        </a>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="row" style="margin-bottom: 20px;">
  <div class="col-md-12">
    <div class="pull-left">
      <% if @machine.active %>
      <%= form_for @machine do |f| %>
        <%= f.hidden_field :active, value: false %>
        <button type="submit" class="btn btn-warning btn-sm" title="deactivate">
          <%= icon("stop-circle") %>
          Deactivate
        </button>
      <% end %>
      <% else %>
      <%= form_for @machine do |f| %>
        <%= f.hidden_field :active, value: true %>
        <button type="submit" class="btn btn-success btn-sm" title="Activate">
          <%= icon("play-circle") %>
          Activate
        </button>
      <% end %>
      <% end %>
    </div>
    <div class="pull-right">
      <button type="button" class="btn btn-default btn-sm"
              data-toggle="modal" data-target="#addReplicaModal">
          <%= icon("plus-circle") %>
          Add Replica
      </button>
      <div class="btn-group">
        <a href="<%= machine_path(@machine) %>" rel="nofollow"
           class="btn btn-danger btn-sm" title="delete"
           data-confirm="<%= "Delete host #{@machine.hostname}?" %>" data-method="delete">
           <%= icon("trash") %>
           Delete
        </a>
        <a href="<%= edit_machine_path(@machine) %>" class="btn btn-default btn-sm" title="edit">
          <%= icon("edit") %>
          Edit
        </a>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<!-- Two Columns -->
<div class="row">
  <!-- Left Column -->
  <div class="col-md-4">

    <!-- Details Panel -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Details</h4>
      </div>
      <div class="panel-body">
        <p><%= @machine.description %>
      </div>
      <% mdash = "&mdash;".html_safe %>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>External IP</strong>
          <span class="pull-right">
            <%= @machine.ip_address.nil? ? mdash : @machine.ip_address %>
          </span>
        </li>
        <li class="list-group-item">
          <strong>MAC Address</strong>
          <span class="pull-right">
            <%= @machine.mac_address.empty? ? mdash : @machine.mac_address %>
          </span>
        </li>
        <% if @machine.last_seen %>
        <li class="list-group-item">
          <strong>Last Seen:</strong>
          <span class="pull-right">
            <%= @machine.last_seen %>
          </span>
        </li>
        <% end %>
        <li class="list-group-item">
          <strong>API Key</strong>
          <span class="pull-right">
            <button type="button" class="btn btn-info btn-xs"
                    data-toggle="modal" data-target="#apikeyModal">
              Click to Show
            </button>
          </span>
        </li>
      </ul>
    </div>

    <!-- Location Panel -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <%= @machine.location.empty? ? "Location" : "Located in #{@machine.location}" %>
        </h4>
      </div>
      <div class="panel-body">
        <% if @machine.latitude && @machine.longitude %>
          <div id="map" style="width: 100%; min-height: 250px;"></div>
        <% else %>
          <%= image_tag "location_unavailable.png", class: "img-responsive center-block" %>
        <% end %>
      </div>
      <div class="panel-footer">
        <small class="text-muted">GeoIP fetched from MaxMind</small>
      </div>
    </div>

  </div>

  <!-- Right Column -->
  <div class="col-md-8">

    <!-- Replica Processes -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Replica Processes</h4>
      </div>
      <table class="table table-hover">
        <thead>
          <th class="text-center">PID</th>
          <th>Name</th>
          <th>Address</th>
          <th class="text-right"></th>
        </thead>
        <tbody>
          <% if @machine.replicas.count > 0 %>
            <% @machine.replicas.order(:precedence).each do |r| %>
            <tr>
              <td class="text-center"><%= r.precedence %></td>
              <td><%= r.name %></td>
              <td><%= r.address %></td>
              <td class="text-right">
                <%= link_to icon(:trash).html_safe, [r.machine, r],
                    # class: "btn btn-sm btn-danger",
                    method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="3" class="text-center text-warning">
                No associated replica processes
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>

<!-- Google Maps Script -->
<script>
  handler = Gmaps.build('Google');
  handler.buildMap({
    provider: {
      disableDefaultUI: false,
      gestureHandling: "none",
      zoom: 100
    },
    internal: {id: 'map'}
  }, function(){
      markers = handler.addMarkers([
        {
          "lat": <%= @machine.latitude %>,
          "lng": <%= @machine.longitude %>,
          "infowindow": "<%= @machine.hostname.capitalize %>"
        }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(10);
  }
  );
</script>

<!-- Add Replica Modal -->
<%= render 'replicas/modals/add' %>

<!-- API Key Modal -->
<%= render 'machines/modals/apikey' %>
